@import url("https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css");

:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --slate: #434455;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --white: #ffffff;
}

/* === GLOBAL === */

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

/* === CONTAINER === */
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* === GLOBAL SECTIONS === */
.section {
  padding: 120px 0;
}

/* === VISUALLY HIDDEN === */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* === HEADER === */

.page-header {
  border-bottom: 1px solid var(--cornflower);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 76px;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.address {
  font-style: normal;
}

.address-list {
  display: flex;
  gap: 40px;
}

/* LOGO — загальний стиль */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.logo-part {
  color: #2e2f42;
}

/* Навігація */
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  text-decoration: none;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* === HERO === */
.hero-section {
  background-color: var(--navy-blue);
  text-align: center;
  padding: 188px 0;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white);
  max-width: 496px;
  margin: 0 auto 48px auto;
}

.hero-btn {
  background-color: var(--iris);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  border: none;
  min-width: 169px;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
  color: var(--white);
}

/* === FEATURES === */
.features-section .features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  width: calc((100% - 72px) / 4);
}

.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* === TEAM === */
.team-section {
  background-color: var(--cloud);
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-card {
  background-color: var(--white);
  border-radius: 4px;
  text-align: center;
  padding-bottom: 32px;
}

/* === PORTFOLIO === */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  background-color: var(--white);
  border-bottom: 1px solid var(--cornflower);
  padding-bottom: 32px;
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-top: 32px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* === FOOTER === */

.footer {
  background-color: var(--navy-blue);
  padding: 100px 0;
}

.footer-container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-part {
  color: #f4f4fd;
}

.footer-text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  width: 264px;
}
